@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-yellow {
  color: rgb(8, 141, 3); /* replace with your desired hex code for yellow */
}

.link{
  color: white;
  text-decoration:none;
  text-shadow: 1px 1px 1px white;
  font-size: 20px;
  font-weight: bold;
}

.link:hover{
  color:rgb(50, 205, 91);
}

.subheading{
  color:rgb(26, 133, 48);
}

.about-us-background{
  background-color: darkkhaki;
}